node-red/auto-ap-sta_wifi_setting_flows.json
[{"id":"13525a87.d31375","type":"inject","z":"16f98c04.7ebf74","name":"Node-RED起動30秒後に一度だけ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":360,"y":880,"wires":[["134bd753.9d5e09"]]},{"id":"83f87b1a.969758","type":"ui_text_input","z":"16f98c04.7ebf74","name":"","label":"ENTER PSK","tooltip":"","group":"b0a410f6.301c8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":290,"y":460,"wires":[["6d00e2c0.418c0c","867a6fa2.e6493"]]},{"id":"1b757b48.d68a05","type":"ui_button","z":"16f98c04.7ebf74","name":"","group":"b0a410f6.301c8","order":6,"width":"8","height":"1","passthru":false,"label":"SET WiFi & REBOOT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","topicType":"str","x":1080,"y":540,"wires":[["cfceff3e.2d747"]]},{"id":"6e0ee060.be1a1","type":"change","z":"16f98c04.7ebf74","name":"enabled false","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":520,"wires":[["1b757b48.d68a05"]]},{"id":"22339ac2.81d666","type":"change","z":"16f98c04.7ebf74","name":"enabled true","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":560,"wires":[["1b757b48.d68a05"]]},{"id":"32d5edbc.a38912","type":"function","z":"16f98c04.7ebf74","name":"set ssid","func":"global.set(\"ssid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[[]]},{"id":"6d00e2c0.418c0c","type":"function","z":"16f98c04.7ebf74","name":"set psk","func":"global.set(\"psk\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":460,"wires":[[]]},{"id":"deb83301.cadc4","type":"function","z":"16f98c04.7ebf74","name":"get psk","func":"msg.payload = global.get(\"psk\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[["899267c.b8c7e98"]]},{"id":"3616f6b8.03e5aa","type":"function","z":"16f98c04.7ebf74","name":"get ssid","func":"msg.payload = global.get(\"ssid\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":700,"wires":[["8affac21.b8dcc"]]},{"id":"8affac21.b8dcc","type":"template","z":"16f98c04.7ebf74","name":"ssid_to_param","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'/ssid=/c\\\\tssid=\"{{payload}}\"' /etc/wpa_supplicant/wpa_supplicant.conf","output":"str","x":540,"y":700,"wires":[["71c62be7.cffae4"]]},{"id":"899267c.b8c7e98","type":"template","z":"16f98c04.7ebf74","name":"psk_to_param","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'/psk=/c\\\\tpsk=\"{{payload}}\"' /etc/wpa_supplicant/wpa_supplicant.conf","output":"str","x":540,"y":740,"wires":[["71c62be7.cffae4"]]},{"id":"71c62be7.cffae4","type":"exec","z":"16f98c04.7ebf74","command":"sudo sed -i","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":720,"wires":[["b1a0201e.71ff4"],[],[]]},{"id":"cda4eec4.7f84b","type":"debug","z":"16f98c04.7ebf74","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":880,"wires":[]},{"id":"84f0fc59.933ee","type":"switch","z":"16f98c04.7ebf74","name":"IF Error send Message","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":880,"wires":[["cda4eec4.7f84b","1a0d000d.5e552"]]},{"id":"7d203251.050a0c","type":"exec","z":"16f98c04.7ebf74","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1670,"y":720,"wires":[[],[],[]]},{"id":"b1a0201e.71ff4","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/dhcpcd.conf.sta /etc/dhcpcd.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":970,"y":720,"wires":[["ba1bbf3c.70da8"],[],[]]},{"id":"cfceff3e.2d747","type":"link out","z":"16f98c04.7ebf74","name":"","links":["380dd853.e78ee8"],"x":1235,"y":540,"wires":[]},{"id":"380dd853.e78ee8","type":"link in","z":"16f98c04.7ebf74","name":"","links":["cfceff3e.2d747"],"x":235,"y":720,"wires":[["3616f6b8.03e5aa","deb83301.cadc4"]]},{"id":"32e8bad7.7eeea6","type":"debug","z":"16f98c04.7ebf74","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1160,"wires":[]},{"id":"134bd753.9d5e09","type":"ping","z":"16f98c04.7ebf74","mode":"triggered","name":"","host":"www.google.com","timer":"20","inputs":1,"x":610,"y":880,"wires":[["84f0fc59.933ee"]]},{"id":"328f9c51.179a84","type":"exec","z":"16f98c04.7ebf74","command":"sudo service wpa_supplicant stop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":960,"y":960,"wires":[["33433d62.fc4312"],[],[]]},{"id":"33433d62.fc4312","type":"exec","z":"16f98c04.7ebf74","command":"sudo service dhcpcd stop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":960,"wires":[["1e69b6c5.1ec149"],[],[]]},{"id":"67610c2f.dfa7d4","type":"exec","z":"16f98c04.7ebf74","command":"sudo ifdown wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":1060,"wires":[["229b6e0a.4359f2"],[],[]]},{"id":"229b6e0a.4359f2","type":"exec","z":"16f98c04.7ebf74","command":"sudo ifup wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1200,"y":1060,"wires":[["8bcadae.e6ac828"],[],[]]},{"id":"1a0d000d.5e552","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/dhcpcd.conf.ap /etc/dhcpcd.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":960,"wires":[["328f9c51.179a84"],[],[]]},{"id":"96540aef.7863e8","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/network/interfaces.ap /etc/network/interfaces","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":1060,"wires":[["67610c2f.dfa7d4"],[],[]]},{"id":"4f9fdd33.9f0094","type":"exec","z":"16f98c04.7ebf74","command":"sudo service hostapd start","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":1160,"wires":[["5995de13.bb244"],[],[]]},{"id":"1f80763e.1203aa","type":"exec","z":"16f98c04.7ebf74","command":"sudo service isc-dhcp-server start","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1020,"y":1160,"wires":[["32e8bad7.7eeea6"],[],[]]},{"id":"5995de13.bb244","type":"delay","z":"16f98c04.7ebf74","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1160,"wires":[["1f80763e.1203aa"]]},{"id":"efa6e353.7729e","type":"inject","z":"16f98c04.7ebf74","name":"Node-RED起動5分後に一度だけ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"300","topic":"","payload":"","payloadType":"date","x":350,"y":1340,"wires":[["71f98be8.4e87d4"]]},{"id":"71f98be8.4e87d4","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/dhcpcd.conf.sta /etc/dhcpcd.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":1340,"wires":[["62bc27ad.95d778"],[],[]]},{"id":"62bc27ad.95d778","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/network/interfaces.sta /etc/network/interfaces","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":1340,"wires":[[],[],[]]},{"id":"a0afed51.db0c6","type":"ui_text_input","z":"16f98c04.7ebf74","name":"","label":"ENTER SSID","tooltip":"","group":"b0a410f6.301c8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":300,"y":420,"wires":[["32d5edbc.a38912","867a6fa2.e6493"]]},{"id":"ba1bbf3c.70da8","type":"exec","z":"16f98c04.7ebf74","command":"sudo cp /etc/network/interfaces.sta /etc/network/interfaces","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":720,"wires":[["7d203251.050a0c"],[],[]]},{"id":"aec89b5c.0b0018","type":"link in","z":"16f98c04.7ebf74","name":"","links":["1e69b6c5.1ec149"],"x":395,"y":1060,"wires":[["96540aef.7863e8"]]},{"id":"1e69b6c5.1ec149","type":"link out","z":"16f98c04.7ebf74","name":"","links":["aec89b5c.0b0018"],"x":1415,"y":960,"wires":[]},{"id":"c022c0e1.47479","type":"link in","z":"16f98c04.7ebf74","name":"","links":["8bcadae.e6ac828"],"x":395,"y":1160,"wires":[["4f9fdd33.9f0094"]]},{"id":"8bcadae.e6ac828","type":"link out","z":"16f98c04.7ebf74","name":"","links":["c022c0e1.47479"],"x":1335,"y":1060,"wires":[]},{"id":"82f19e32.6972a","type":"comment","z":"16f98c04.7ebf74","name":"SSID PSK 入力欄","info":"","x":240,"y":380,"wires":[]},{"id":"bb963a35.e74e08","type":"comment","z":"16f98c04.7ebf74","name":"ボタン押下で走るフロー","info":"","x":270,"y":660,"wires":[]},{"id":"7e6eb43e.ffd7bc","type":"comment","z":"16f98c04.7ebf74","name":"起動から30秒後でもネット接続が確認できない場合はAPモードへ移行","info":"","x":410,"y":840,"wires":[]},{"id":"7b99ea4a.092684","type":"comment","z":"16f98c04.7ebf74","name":"wpa_supplicant.conf書き換え","info":"","x":580,"y":660,"wires":[]},{"id":"fbf82479.3eb138","type":"comment","z":"16f98c04.7ebf74","name":"dhcpcd / interfaces のconfをSTAモード用に（IP自動取得）","info":"","x":1010,"y":660,"wires":[]},{"id":"3eb1beee.279bd2","type":"comment","z":"16f98c04.7ebf74","name":"再起動","info":"","x":1650,"y":660,"wires":[]},{"id":"17477702.0d5359","type":"comment","z":"16f98c04.7ebf74","name":"dhcpcd.confをAPモード用に","info":"","x":620,"y":1000,"wires":[]},{"id":"d597d207.49a67","type":"comment","z":"16f98c04.7ebf74","name":"Wi-Fiの停止","info":"","x":1110,"y":1000,"wires":[]},{"id":"c3e479f.5544388","type":"comment","z":"16f98c04.7ebf74","name":"interface.confをAPモード用に切替","info":"","x":660,"y":1100,"wires":[]},{"id":"f174c7ef.d08fd8","type":"comment","z":"16f98c04.7ebf74","name":"wlan0を再起動（IP固定で起動）","info":"","x":1090,"y":1100,"wires":[]},{"id":"e742c1f9.f537c","type":"comment","z":"16f98c04.7ebf74","name":"APとして動作させるデーモン起動","info":"","x":600,"y":1200,"wires":[]},{"id":"dd0107ce.82c2b8","type":"comment","z":"16f98c04.7ebf74","name":"APサーバが起動してないとdhcpサーバが正常起動しないため10秒待ってからdhcpサーバ起動","info":"","x":1100,"y":1200,"wires":[]},{"id":"31079fb1.2530a","type":"comment","z":"16f98c04.7ebf74","name":"APモード用のconfだとLANケーブルを接続してもネット接続ができなくなる","info":"","x":810,"y":1380,"wires":[]},{"id":"1cae572.b85e3a9","type":"comment","z":"16f98c04.7ebf74","name":"そのため、5分後にはSTAモード用のconfファイルに戻し、再起動で元通りになるようにしておく。","info":"","x":880,"y":1460,"wires":[]},{"id":"1810537f.36029d","type":"comment","z":"16f98c04.7ebf74","name":"APサーバ、DHCPサーバの起動等に問題が合った場合は外部からのアクセスが完全に遮断されてしまう。","info":"","x":900,"y":1420,"wires":[]},{"id":"8405d5ec.d460f8","type":"comment","z":"16f98c04.7ebf74","name":"5分後にはSTAモードに切替（rebootは手動）","info":"","x":330,"y":1300,"wires":[]},{"id":"867a6fa2.e6493","type":"function","z":"16f98c04.7ebf74","name":"ssid/psk is Empty?","func":"let ssid = global.get(\"ssid\");\nlet psk = global.get(\"psk\");\nif (psk && ssid){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":540,"wires":[["58044510.8c00cc"]]},{"id":"58044510.8c00cc","type":"switch","z":"16f98c04.7ebf74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":540,"wires":[["6e0ee060.be1a1"],["22339ac2.81d666"]]},{"id":"b0a410f6.301c8","type":"ui_group","name":"Wi-Fi","tab":"ffa72fc9.a847a","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"ffa72fc9.a847a","type":"ui_tab","name":"RasPi","icon":"dashboard","disabled":false,"hidden":false}]